.home {

    &__about {
        padding: 80px 0;

        @media(max-width: 991px) {
            padding: 70px 0;
        }

        @media(max-width: 575px) {
            padding: 50px 0;
        }

        h2,
        p {
            margin: 0 auto;
        }

    }

    &__process {
        padding: 80px 0;
        background-color: $color-grey;

        @media(max-width: 991px) {
            padding: 70px 0;
        }

        @media(max-width: 575px) {
            padding: 50px 0;
        }

        h2 {
            color: $color-tertiary;
            margin-bottom: 1em;
        }

        .fw300 {
            line-height: 1.44;

            strong {
                margin-top: 10px;
                display: block;
            }

        }

        .path {
            margin-top: 80px;
            position: relative;

            @media(max-width: 991px) {
                margin-top: 70px;
            }

            @media(max-width: 575px) {
                margin-top: 50px;
            }
        
            .circle {
                width: 160px;
                height: 160px;
                border-radius: 160px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                border: 3px solid transparent;

                @media(max-width: 991px) {
                    width: 140px;
                    height: 140px;
                    border-radius: 140px;
                }

                object,
                svg {
                    display: block;
                    width: 100%;
                    max-width: 64%;
                }

                &.orange {
                    margin: 30px auto 0;
                    border-color: $color-orange1;
                    background-color: $color-orange2;

                    @media(max-width: 575px) {
                        transform: none;
                    }

                }

                &.blue {
                    transform: translateY(-4px) translateX(126px);
                    border-color: $color-blue1;
                    background-color: $color-blue2;

                    @media(max-width: 1199px) {
                        transform: translateY(-4px) translateX(36px);
                    }

                    @media(max-width: 991px) {
                        transform: translateY(-4px) translateX(15px);
                    }

                    @media(max-width: 767px) {
                        transform: translateY(-4px) translateX(-15px);
                    }

                    @media(max-width: 575px) {
                        transform: none;
                        text-align: center;
                        margin: 0 auto 12px;
                    }

                }

                &.yellow {
                    transform: translateY(-8px) translateX(724px + 126px);
                    border-color: $color-yellow1;
                    background-color: $color-yellow2;

                    @media(max-width: 1199px) {
                        transform: translateY(-8px) translateX(724px + 36px);
                    }

                    @media(max-width: 991px) {
                        transform: translateY(-8px) translateX(560px + 10px);
                    }

                    @media(max-width: 767px) {
                        transform: translateY(-8px) translateX(415px);
                    }

                    @media(max-width: 575px) {
                        transform: none;
                        text-align: center;
                        margin: 0 auto 12px;
                    }

                }

                &.green {
                    transform: translateY(-12px);
                    margin: 0 auto 12px;
                    border-color: $color-green2;
                    background-color: $color-green3;

                    @media(max-width: 575px) {
                        transform: none;
                    }

                } 

            }

            .line1 {
                position: relative;
                transform: translateY(-2px) translateX(206px);

                @media(max-width: 1199px) {
                    transform: translateY(-2px) translateX(116px);
                }

                @media(max-width: 991px) {
                    width: 280px;
                    transform: translateY(-2px) translateX(85px);
                }

                @media(max-width: 767px) {
                    width: 219px;
                    transform: translateY(-2px) translateX(55px);
                }

                @media(max-width: 575px) {
                    transform: none;
                    width: 3px;
                    height: 138px;
                    margin: -2px auto;
                }

            }

            .line2 {
                position: relative;
                transform: translateY(-6px);
                margin: 0 auto;

                @media(max-width: 991px) {
                    width: 560px;
                }

                @media(max-width: 767px) {
                    width: 430px;
                }

                @media(max-width: 575px) {
                    transform: none;
                    width: 3px;
                    height: 138px;
                    margin: 10px auto -2px;
                }

            }

            .line3 {
                position: relative;
                transform: translateY(-10px) translateX(364px + 206px);

                @media(max-width: 1199px) {
                    transform: translateY(-10px) translateX(364px + 116px);
                }

                @media(max-width: 991px) {
                    width: 280px;
                    transform: translateY(-10px) translateX(360px);
                }

                @media(max-width: 767px) {
                    width: 219px;
                    transform: translateY(-10px) translateX(269px);
                }

                @media(max-width: 575px) {
                    transform: none;
                    width: 3px;
                    height: 138px;
                    margin: 10px auto -2px;
                }

            }

            .text-green {
                max-width: 480px;
            }

            .color-blue {
                transform: translateY(-6px);

                @media(max-width: 575px) {
                    transform: none;
                }

            }

            .color-yellow {
                transform: translateY(-10px);

                @media(max-width: 575px) {
                    transform: none;
                }

            }

            .text-left {
                padding-left: 40px;

                @media(max-width: 1199px) {
                    padding-left: 0;
                }

                @media(max-width: 991px) {
                    transform: translateX(10px);
                }

                @media(max-width: 767px) {
                    transform: translateX(0);
                    padding-left: 30px;
                }

                @media(max-width: 575px) {
                    transform: none;
                    padding-left: 15px;
                    text-align: center!important;
                }

            }

            .text-right {
                padding-right: 40px;

                @media(max-width: 1199px) {
                    transform: translateX(-45px);
                }

                @media(max-width: 991px) {
                    transform: translateX(-90px);
                }

                @media(max-width: 767px) {
                    transform: translateX(-100px);
                    padding-right: 15px;
                }

                @media(max-width: 575px) {
                    transform: none;
                    text-align: center!important;
                }

            }

            .fw400 {
                margin-bottom: 0;
            }

            .cta {
                margin-top: 30px;
            }
        
        }

    }

    &__contact {
        padding: 80px 0;

        @media(max-width: 991px) {
            padding: 70px 0;
        }

        @media(max-width: 575px) {
            padding: 50px 0;
        }

        form {
            margin-top: 60px;

            @media(max-width: 991px) {
                margin-top: 50px;
            }

            @media(max-width: 575px) {
                margin-top: 30px;
            }

            span {

                &.validation {
                    font-weight: 700;
                    color: $color-red;
                }

            }

            input[type="text"],
            input[type="email"],
            select,
            textarea {
                appearance: none;
                margin: 12px auto;
                width: 100%;
                padding: 11px 15px;
                background-color: $color-grey;
                color: $color-tertiary;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                line-height: 1;
                font-weight: 300;
                box-shadow: 0px 2px 5px 0px rgba($color: #000000, $alpha: 0.2);
                outline: none!important;
                transition: all 250ms ease;

                &:focus {
                    box-shadow: 0px 3px 10px 0px rgba($color: #000000, $alpha: 0.4);
                }

                &+.placeholder {
                    position: absolute;
                    top: 12px;
                    left: 15px;
                    right: 15px;
                    max-width: 100%;
                    padding: 11px 15px;
                    background-color: $color-grey;
                    color: $color-tertiary;
                    border: none;
                    border-radius: 8px;
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 300;
                    pointer-events: none;
                    transition: all 200ms ease;

                    small {
                        font-size: 12px;
                        color: #9B9B9B;
                    }

                    span {
                        color: $color-red;
                        font-weight: 400;
                    }

                    &.hide {
                        top: -4px;
                        padding: 0;
                        font-size: 12px;
                        background-color: transparent;
                        font-weight: 400;

                        small {
                            font-size: 10px;
                        }

                    }

                }

            }

            select {
                cursor: pointer;
                padding: 12px 15px;

                &+.select {
                    position: absolute;
                    top: 12px;
                    left: 15px;
                    right: 15px;
                    max-width: 100%;
                    padding: 11px 15px;
                    background-color: $color-grey;
                    color: $color-tertiary;
                    border: none;
                    border-radius: 8px;
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 300;
                    pointer-events: none;
                    transition: all 200ms ease;

                    small {
                        font-size: 12px;
                        color: #9B9B9B;
                    }

                    i {
                        position: absolute;
                        right: 15px;
                        top: 11px;
                        font-size: 20px;
                    }

                    &.hide {
                        top: -4px;
                        padding: 0;
                        font-size: 12px;
                        background-color: transparent;
                        font-weight: 400;

                        small {
                            font-size: 10px;
                        }

                        i {
                            top: 25px;
                        }

                    }

                }

            }

            textarea {
                line-height: 1.44;
                resize: none;
            }

            .checkbox {
                display: inline-block;
                position: relative;
                margin: 0 auto;
                margin-bottom: 12px;
                padding-left: 30px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                a {
                    text-decoration: underline;
                    position: relative;
                    z-index: 999;
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 9;

                    &:checked {

                        &~.checkmark {
                            background-color: $color-tertiary!important;

                            &:after {
                                opacity: 1;
                            }

                        }

                    }

                }

                small {
                    color: $color-red;
                    font-weight: 400;
                    font-size: 18px;
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    border-radius: 5px;
                    background-color: $color-grey;
                    box-shadow: 0px 2px 5px 0px rgba($color: #000000, $alpha: 0.2);
                    outline: none!important;
                    transition: all 250ms ease;
                    transform: translateY(2px);

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        transition: all 250ms ease;
                        opacity: 0;
                        left: 8px;
                        top: 4px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                }

                &:hover {

                    input {

                        &~.checkmark {
                            background-color: #ccc;
                        }

                    }

                }

            }

            input[type="submit"] {
                padding: 6px 44px 7px!important;
                font-size: 18px;
            }

        }

    }

}